   *{
padding: 0;
margin: 0;
text-decoration: none;
list-style-type: none;  

}
body{
    font-family: arial;
    background-color: #7f540e;
}
nav{
    background-color: #aa0a0a;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;

}
li a:hover{
    font-size: 150% ;
    transition: .5s;
    background-color: darkred;}


li a:active{
    color: darkred;
}

     div.player{ 

    margin: 5px;

  border: 3px solid #ccc;

  float: left;

  width: 400px;
background-color: firebrick; 
border-radius: 10px;


}

div.player:hover {

  border: 2px solid black;

}

div.player img {

  width: 100%;

}

div.name {

  padding: 15px;

  text-align: center;

font-family: Times New Roman;

font-weight: bold;

font-size: 25px;

color: whitesmoke;
}

.main{

    display: inline-block;
    margin-left: 60px;

}